<div class="popup-portfolio">
    <div class="container">
        <div class="row flex flex-wrap">
            <div class="col-xs-12">
                <div class="expander-header flex flex-middle space-between mb-30">
                    <h4 class="text-white">Single Item with Slider Gallery</h4>
                    <ul class="expander-actions flex flex-middle">
                        <li><a href="#" class="expander-close close-mfp">&times;</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-md-7">
                <figure class="expander-media">
                    <img src="img/portfolio/53.jpg" alt="" class="img-responsive">
                </figure>
            </div>
            <div class="col-sm-12 col-md-4 col-md-offset-1 flex flex-bottom">
                <div class="caption mb-40">
                    <h3 class="mb-20 mt-30-xs text-white">Photography</h3>
                    <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    <ul class="social-2 flex flex-middle mt-40">
                        <li><a href="#" class="facebook text-light"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="twitter text-light"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="gplus text-light"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="linkedin text-light"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>