<div class="team-single-wrapper">
    <section class="section top-full">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="team-single-thumb">
                        <img src="img/team/single.jpg" class="img-responsive" alt="">
                    </div> <!-- /.team-single-thumb -->
                </div> <!-- /.col-xs-12 -->
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-offset-1 col-lg-5">
                    <div class="team-single-desc">
                        <div class="bio">
                            <h2>JEAN PAUL AUGUSTUS</h2>
                            <span>Creative Director at Codepixar</span>
                            <ul class="social-single mt-20">
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                            </ul>
                            <p class="mt-35">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex eacom modo consequat. Duis aute irure dolor.</p>
                        </div>
                        <div class="progress-element">
                            <div class="progress-item style5">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="90"  aria-valuemin="0" aria-valuemax="100">
                                        <span class="value"></span>                                        
                                    </div>
                                </div>
                                <p>Photoshop</p>
                            </div>
                            <div class="progress-item style5">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="80"  aria-valuemin="0" aria-valuemax="100">
                                        <span class="value"></span>
                                    </div>
                                </div>
                                <p>Illustrator</p>
                            </div>
                            <div class="progress-item style5">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="95"  aria-valuemin="0" aria-valuemax="100">
                                        <span class="value"></span>
                                    </div>
                                </div>
                                <p>UI/UX Design</p>
                            </div>
                            <div class="progress-item style5">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="85"  aria-valuemin="0" aria-valuemax="100">
                                        <span class="value"></span>
                                    </div>
                                </div>
                                <p>Photography</p>
                            </div>
                            <div class="progress-item style5">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="85"  aria-valuemin="0" aria-valuemax="100">
                                        <span class="value"></span>
                                    </div>
                                </div>
                                <p>Web Development</p>
                            </div>
                            <div class="progress-item style5">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="85"  aria-valuemin="0" aria-valuemax="100">
                                        <span class="value"></span>
                                    </div>
                                </div>
                                <p>Branding</p>
                            </div>
                        </div> <!-- End of progress-element -->
                    </div> <!-- /.team-single-desc -->
                </div> <!-- /.col-xs-12 -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </section> <!-- /.top-full -->
    <!-- /#team -->

    <section id="team-more" class="section bottom-full">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title style5 text-center">
                        <h2 class="text-uppercase">More <b>Members</b></h2>
                    </div>
                </div>
            </div> <!-- end .row -->
            <div class="row">
                <div class="col-xs-12 col-sm-4 bottom-margin">
                    <div class="team-member style5 ov-hidden">
                        <div class="bio text-center">
                            <h4 class="text-uppercase">Alex Ferguson</h4>
                            <span>Deputy Chief Chef</span>
                            <div class="social-profiles">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="thumb ov-hidden relative">
                            <img src="img/team/16.jpg" alt="">
                            <div class="hover-ripple right"></div>
                            <div class="hover">
                                <a href="team-single.html" class="single-team-ajax" data-bg="mfp-white-bg" data-effect="mfp-zoom-in"><i class="material-icons">add</i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 bottom-margin">
                    <div class="team-member style5 ov-hidden">
                        <div class="bio text-center">
                            <h4 class="text-uppercase">Alex Ferguson</h4>
                            <span>Deputy Chief Chef</span>
                            <div class="social-profiles">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="thumb ov-hidden relative">
                            <img src="img/team/16.jpg" alt="">
                            <div class="hover-ripple right"></div>
                            <div class="hover">
                                <a href="team-single.html" class="single-team-ajax" data-bg="mfp-white-bg" data-effect="mfp-zoom-in"><i class="material-icons">add</i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 bottom-margin">
                    <div class="team-member style5 ov-hidden">
                        <div class="bio text-center">
                            <h4 class="text-uppercase">Alex Ferguson</h4>
                            <span>Deputy Chief Chef</span>
                            <div class="social-profiles">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="thumb ov-hidden relative">
                            <img src="img/team/16.jpg" alt="">
                            <div class="hover-ripple right"></div>
                            <div class="hover">
                                <a href="team-single.html" class="single-team-ajax" data-bg="mfp-white-bg" data-effect="mfp-zoom-in"><i class="material-icons">add</i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  <!-- end .row -->
        </div>
    </section>
    <!-- /#team -->
</div> <!-- /.team-single-wrapper -->