/*------------------------------------------------------------
    Including Styles
------------------------------------------------------------*/
::-moz-selection {
    /* Code for Firefox */
    background-color: #000;
    color: #fff;
}

::selection {
    background-color: #000;
    color: #fff;
}

body {
    color: rgba(0, 0, 0, 0.87);
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

a {
    color: rgba(0, 0, 0, 0.87);
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

a:hover,
a:focus {
    color: #000;
    outline: none;
    text-decoration: none;
}

p {
    margin-bottom: 20px;
}

p:last-child {
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/**
 *  Typography
 *
 **/
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    color: #333;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 1.3;
    margin: 0;
}

h5,
.h5 {
    line-height: 18px;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clear {
    *zoom: 1;
}

.clear:before,
.clear:after {
    content: " ";
    display: table;
}

.clear:after {
    clear: both;
}

/**
 *  Reset input fields opacity
 *
 **/
input:focus,
button:focus {
    outline: 0;
}

::-webkit-input-placeholder {
    opacity: 1;
    color: inherit;
}

:-moz-placeholder {

    /* Firefox 18- */
    opacity: 1;
    color: inherit;
}

::-moz-placeholder {

    /* Firefox 19+ */
    opacity: 1;
    color: inherit;
}

:-ms-input-placeholder {
    opacity: 1;
    color: inherit;
}

button,
input,
select,
textarea {
    font-weight: 400;
}

.btn:hover,
.btn:focus,
.btn:active:focus {
    outline: none;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clear {
    *zoom: 1;
}

.clear:before,
.clear:after {
    content: " ";
    display: table;
}

.clear:after {
    clear: both;
}

.section-full {
    padding: 150px 0;
}

.section {
    padding: 75px 0;
}

.top-half {
    padding-top: 75px;
}

.top-full {
    padding-top: 150px;
}

.bottom-half {
    padding-bottom: 75px;
}

.bottom-full {
    padding-bottom: 150px;
}

.relative {
    position: relative;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
}

.block {
    display: block;
}

.inline {
    display: inline-block;
}

.radius {
    border-radius: 3px;
}

.w100 {
    width: 100%;
}

.danger {
    color: #ff4951;
}

.ov-hidden {
    overflow: hidden;
}

.z-index-1 {
    z-index: 1;
}

.z-index-2 {
    z-index: 2;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-25 {
    margin-top: 25px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-35 {
    margin-top: 35px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-60 {
    margin-top: 60px;
}

.mt-70 {
    margin-top: 70px;
}

.mt-80 {
    margin-top: 80px;
}

.mt-90 {
    margin-top: 90px;
}

.mt-100 {
    margin-top: 100px;
}

.mb-0 {
    margin-bottom: 0px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mb-70 {
    margin-bottom: 70px;
}

.mb-80 {
    margin-bottom: 80px;
}

.mb-90 {
    margin-bottom: 90px;
}

.mb-100 {
    margin-bottom: 100px;
}

.ml-5 {
    margin-left: 5px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-15 {
    margin-left: 15px;
}

.ml-20 {
    margin-left: 20px;
}

.ml-25 {
    margin-left: 25px;
}

.mr-5 {
    margin-right: 5px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-15 {
    margin-right: 15px;
}

.mr-20 {
    margin-right: 20px;
}

.mr-25 {
    margin-right: 25px;
}

.mr-30 {
    margin-right: 30px;
}

.fw-700 {
    font-weight: 700;
}

.fw-500 {
    font-weight: 500;
}

.fw-400 {
    font-weight: 400;
}

.fw-300 {
    font-weight: 300;
}

.fz-12 {
    font-size: 12px;
}

.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}

.inline-flex {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.flex-middle {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
}

.flex-grow-1 {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.flex-flow-rw {
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.space-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
}

.flex-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
}

.flex-left {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start;
}

.flex-right {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    justify-content: flex-end;
}

.btn {
    border-radius: 3px;
    border: 0 none;
    font-family: "Montserrat", sans-serif;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.btn-theme {
    background-color: #000;
    color: #fff;
    line-height: 50px;
    padding: 0 50px;
    height: auto;
}

.btn-theme:hover,
.btn-theme:focus {
    background-color: transparent;
    border-color: #000;
    color: #000;
}

.btn-white {
    background-color: #fff;
    color: #000;
}

.btn-white.btn-border:hover {
}

.btn-white:hover,
.btn-white:focus {
    background-color: #000;
    border-color: #fff;
    color: #fff;
}

.btn-mid {
    font-size: 12px;
    height: 33px;
    line-height: 32px;
    padding: 0 30px;
}

.btn-round {
    border-radius: 50px;
}

.btn-round-left {
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}

.btn-border {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.no-gutter {
    margin-left: 0;
    margin-right: 0;
}

.no-gutter > [class^="col-"] {
    padding-left: 0;
    padding-right: 0;
}

.white-bg {
    background-color: #fff;
}

.gray-bg {
    background-color: #f7f7f7;
}

.primary-bg {
    background-color: #000;
}

.default-shadow {
    box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.1);
    display: block;
}

.text-light {
    color: #fff;
}

.text-light-54 {
    color: rgba(255, 255, 255, 0.54);
}

.text-dark-54 {
    color: rgba(0, 0, 0, 0.54);
}

.text-link {
    color: rgba(0, 0, 0, 0.54);
}

.text-link a {
    color: rgba(0, 0, 0, 0.54);
}

.text-link:hover,
.text-link:focus,
.text-link a:hover,
.text-link a:focus {
    color: rgba(0, 0, 0, 0.87);
}

.link-light,
.link-light:hover,
.link-light:focus {
    color: #fff;
}

.title-link,
.title-link:hover {
    color: #000;
}

.link-underline:hover {
    text-decoration: underline;
}

.animated-link i {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.animated-link:hover i {
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -o-transform: translateX(5px);
    transform: translateX(5px);
}

.transition {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.parallax-bg {
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

.sub-menu.megamenu-wrapper > li a:focus {
  color: #fff;
  opacity: 0.6;
}
/*------------------------------------------------------------
    Banner
------------------------------------------------------------*/
.matex-demo .has-dropdown.megamenu > a {
    color: #fff;
    font-weight: 500;
}
.matex-demo .has-dropdown .feature {
    color: #fff;
    font-weight: 500;
}
.section.banner {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    // padding: 80px 0 0 0;
    background: #f6514c;
}
.banner h2 {
    color: #fff;
    font-size: 48px;
}
.banner h4 {
    color: #fff;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    padding: 0 100px;
}
.banner .coffee-cup {
  bottom: -100px;
  position: absolute;
  right: 70px;
  width: 400px;
}
.section.banner .row {
    height: 585px;
}
.heading p {
    font-size: 18px;
    line-height: 30px;
    color: #666;
}
.heading h3 {
    display: inline-block;
}
.inline-block {
    display: inline-block;
}
.demo-block .imac-holder {
    display: block;
    margin-bottom: 50px;
    position: relative;
    width: 100%;  
}
.demo-block .imac-holder img {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    
}
.demo-block .imac-holder h4 {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    
}
.demo-block .imac-holder:hover img {
    box-shadow: 0 14px 42px 0 rgba(0, 0, 0, 0.2);
}
.demo-block .imac-holder:hover h4 {
    color: #f6514c;
}
// .demo-block .imac-holder::before {
//     background: rgba(0, 0, 0, 0) url("../img/hover.png") repeat scroll 0 0;
//     bottom: -19px;
//     content: "";
//     height: 0;
//     left: 0;
//     opacity: 0;
//     position: absolute;
//     width: 100%;
//     -webkit-transition: all 0.3s ease 0s;
//     -moz-transition: all 0.3s ease 0s;
//     -o-transition: all 0.3s ease 0s;
//     transition: all 0.3s ease 0s;
// }
.demo-block .imac-holder:hover::before {
    height: 29px;
    opacity: 0.5;
}
.demo-block .imac-holder h4 {
    margin-top: 30px;
    font-size: 14px;
}

.stat-box {
    background-color: #f7f7f7;
    padding: 50px 30px;
}
.stat-box .value {
    color: #00aeef;
    font-size: 80px;
    font-weight: 100;
    line-height: 0.6;
    margin-bottom: 20px;
}

.stat-box .value span {
    color: #cbc9c9;
    display: inline-block;
    font-size: 18px;
    margin-left: -20px;
    vertical-align: bottom;
}

.stat-box p {
    color: #333333;
    font-size: 20px;
    line-height: 38px;
}
.site-footer {
    background-color: #fff;
    padding: 100px 0;
}
.social-links li {
    margin-right: 5px;
}
.social-links li:last-child {
    margin-right: 0;
}
.social-links a {
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 35px;
    color: rgba(0, 0, 0, 0.54);
    display: block;
    height: 35px;
    line-height: 35px;
    width: 35px;
}
.social-links a:hover {
    background-color: #000;
    border-color: #000;
    color: #fff;
}

.save {
    color: green;
}
.comming {
    display: inline-block;
    background: #f6514c;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
}
.comming-fix {
    position: absolute;
    left: 120%;
    top: 0;
    font-size: 14px;
    width: 120%;
    font-weight: 500;
    padding: 10px 15px;
}
.single-feature .media {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.single-feature .media-object {
    width: 35px;
    height: auto;
}
.single-feature {
    padding: 0px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    margin: 0 20px 40px;
    background-color: #fff;
    border-radius: 15px;
    height: 118px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.single-feature .media-heading {
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
    margin-left: 10px;
}

.is-sticky .header-middle {
    background: #f6514c;
}
.gray-bg {
  background-color: #f5f7fb;
}
.pb-0 {
    padding-bottom: 0 !important;
}
.new {
   background: #f6514c none repeat scroll 0 0;
   border-radius: 3px;
   color: #fff;
   display: inline-block;
   padding: 2px 7px;
   line-height: 1.2em;
   text-transform: capitalize;
   font-size: 10px;
   margin-left: 5px;
}
.new-white {
   background: #fff;
   color: #333;
   border-radius: 3px;
   display: inline-block;
   padding: 2px 7px;
   line-height: 1.2em;
   text-transform: capitalize;
   font-size: 10px;
   margin-left: 5px;
   position: absolute;
   top: 15px;
   left: 43%;
   transform: translateX(-50%);
}
@media (max-width: 1199px) { 
    .new-white {
        display: none;
    }
}
.footer-line {
    width: 1px;
    height: 35px;
    background: #ddd;
    margin: 0 15px !important;
    display: inline-block;
}
.mr-0 {
    margin-right: 0px !important;
}
/*============================================================
    For Small Desktop / tablet landscape
==============================================================*/
@media (min-width: 980px) and (max-width: 1150px) {
    .demo-block .imac-holder {
        padding: 10px;
    }
}

/*============================================================
    For Small Desktop / tablet landscape
==============================================================*/
@media (min-width: 768px) and (max-width: 979px) {
    .demo-block .imac-holder {
        padding: 10px;
    }
}


/*============================================================
    For Small Desktop / tablet landscape
==============================================================*/
@media (max-width: 767px) {
    .banner-wrapper img {
        width: 80%;
    }
    .demo-block .imac-holder {
        padding: 13px;
    }
    .primary-nav {
        height: 100vh !important;
        overflow: scroll !important;
    }
}















